@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------*/
body {
  width: 100vh;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6036), to(#fd267a));
  background: linear-gradient(0deg, #ff6036, #fd267a);
}

.swiper {
  height: 70vh;
  aspect-ratio: 2/3;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center 50%;
          perspective-origin: center 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
          transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
  -webkit-filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.dislike, .like {
  width: 90px;
  height: 90px;
  background: transparent;
  font-size: 16vh;
  padding: 20px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-animation: iconAnimation1 1s ease-in-out both;
          animation: iconAnimation1 1s ease-in-out both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.dislike img, .like img {
  width: 50px;
  height: 50px;
}

.like.trigger,
.dislike.trigger {
  -webkit-animation: iconAnimation2;
          animation: iconAnimation2;
}

.like {
  background-color: rgba(255, 255, 255, 0.5);
}

.dislike {
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes iconAnimation1 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes iconAnimation1 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes iconAnimation2 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes iconAnimation2 {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}